@font-face {
    font-family: 'Pattaya-Regular';
    src: url('../fonts/Pattaya-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }


.landing {
  display: flex;
  flex-direction: column; /* Stacks image on top, text below */
  align-items: center; /* Centers items */
  text-align: center; /* Ensures text is centered */
  width: 100%;
}

body {
  background-color: var(--primary-bg-color) !important;
}


