.adm-background {
  background-color: #d9f1ea !important;
}

body {
  background-color: var(--page-bg);
}

.ADMheader {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  padding: 0;
}

.ADMheader h1 {
  font-size: 3rem;
  color: #1f5746;
  font-family: 'Seven-Segment';
  letter-spacing: 5px;
  width: 100%;
  margin: 0 auto;
}

.landing-container {
  position: relative;
  width: auto;
  max-width: 600px;
  overflow: hidden;
}

.landing-container img {
  max-width: 100%;
  height: auto;
}

.ADMheader h2 {
  margin-bottom: 20px;
  margin-top: 20px !important;
  font-size: 1rem;
}

.ADMheader h3 {
  font-size: 1.1rem;
}
.ADMheader h2,
.ADMheader h3,
.ADMheader h4,
.ADMheader p {
  width: 80%; /* Set width to 80% */
  max-width: 300px;
  margin: 0 auto; /* Center horizontally */
  margin-top: 10px;
  text-align: center; /* Ensure text is centered inside */
  color: #1f5746;
  font-family: 'Outfit', sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px, 20px;
}

.ADM-button-details {
  background-color: #1f5746;
  color: #fff;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Seven-Segment';
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  width: 80%;
  max-width: 300px;
}

body {
  margin: 0px;
}

@font-face {
  font-family: 'Seven-Segment';
  src: url('../../../fonts/Seven-Segment.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}