.ANTheader {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin: 0 auto;
    padding: 0;

}

.ANTheader h1 {
    font-size: 3rem;
    color: #2D094F;
    font-family: 'Pattaya-Regular';
    width: 100%;
    margin: 0 auto;

}

.landing-container {
    position: relative;
    width: auto;
    overflow: hidden;
}

.landing-container img {
    max-width: 100%;
    height: auto;
}

.ANTheader h2 {
    margin-bottom: 20px;
    margin-top: 20px !important;
    font-size: 1rem;
}

.ANTheader h3 {
    font-size: 1.1rem;
}
.ANTheader h2, 
.ANTheader h3,
.ANTheader h4,
.ANTheader p {
    width: 80%; /* Set width to 80% */
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Ensure text is centered inside */
    color: #2D094F;
}

.button {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px, 20px;
  }

  .button-details {
    background-color: #2D094F;
    color: #fff;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 80%;
  }

  body {
    font-family: 'Montserrat-Regular', sans-serif;
    background-color: #F5EEFF;
  }